.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
.venv/**
.github/**
.husky/**
.ruff/**
*.vsix
.env
package-lock.json
testbench-language-server/**
**/__pycache__/**
.python-version
pyproject.toml
requirements.txt
.testbench/**
.nox/**
.ruff_cache/**
.whl